.ada{
}
.container{
    width: 1040px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:912px){
    .container{
        width: 85%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .container >a{width: 13.8%;}
    .container > a > img{
        width: 100%;
    }
}
/* ssssssssssssssssssssssssssssssssssssss */
@media(max-width:375px){
    .ada{
        margin-top: -20px;
    }
     a:nth-child(5){display: none;} a:nth-child(6){display: none;}
    .container{
        width: 85%;
        height: auto;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
      align-items: center;

    }
    .container >a{
        width: auto;
        height: auto;
    }
    .kkkk{
        width: 69.71px;
        height: 14.86px;

    }
   .kkk{
        width: 59px;
        height: 18px;
    }



   
}