*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Rubik:wght@300&display=swap');
.ada{
 margin-top: 80px;
}
.container{
    margin: 0 auto;
    width: 700px;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.text__1{
    width: 463px;
height: 64px;

    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

letter-spacing: -1px;
text-transform: capitalize;

/* navy blue */

color: #18216D;
}
.text__2{
    width: 542px;
height: 60px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */

text-align: center;

/* navy blue */

color: #18216D;
}
@media(max-width:912px) and (min-width:863px){
    .ada{
        margin-top: 40px;
       }
       .container{
        margin: 0 auto;
        width: 85%;
        /* background-color: salmon; */
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
    .text__1{
        width: auto;
       height: 34px;

        font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    /* identical to box height, or 133% */
    
    letter-spacing: 0px;
    text-transform: capitalize;
    
    /* navy blue */
    
    color: #18216D;
    }
    .text__2{
        width: 502px;
    height: 40px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    text-align: center;
    color: #18216D;
    }
}
@media(max-width:375px){
    .ada{
        margin-top: 50px;
       }
       .container{
        margin: 0 auto;
        width: 85%;
        /* background-color: salmon; */
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }
    .text__1{
        width: 222px;
        height: 24px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */
        
        letter-spacing: -1px;
        text-transform: capitalize;
        
        /* navy blue */
        
        color: #18216D;
    }
    .text__2{
        width: 335px;
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        
        text-align: center;
        letter-spacing: -0.02em;
        
        /* navy blue */
        
        color: #18216D;
        
        opacity: 0.5;
    }
}