@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Rubik:wght@300&display=swap');
.container {
    width: 90%;
    margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 0px;

}
/* loga -------------------------------------------------*/

.logaimgada{
display: flex;
gap: 7px;
align-items: center;
}
.rasm__loga{
    width: 32px;
height: 32px;
}
.loga_text{

    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

text-align: center;

color: #18216D;
}
/* loga--------------------------------------------------------- */
/* list--------------------------- */
.munu{
     position: absolute;
     left: 255px;
    width: 407px;
    display: flex;
    justify-content: space-between;

}
.munu >li{
    display: inline-block;
}
.munu > li > a{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


/* navy blue */

color: #18216D;

}
.li_bnt{
  display: none;
}
/* list--------------------------- */
/* buger------------------------------------------ */
.inconbug{
    display: none;
    cursor: pointer;
}

/* buger------------------------------------------ */
/* bun----------------------------------------- */
.bun__ada{
    display: block;
    display: flex;
align-items: center;
gap: 35px;
    
}
.bun__ada > button{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */
width: 116px;
height: 42px;
border: none;

background: #18216D;
border-radius: 6px;

color: #FFFFFF
}
.bun__ada > div{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #18216D;
}
/* bun----------------------------------------- */
/* ------------------------ */
@media(max-width:912px){

    .logaimgada{
        display: flex;
        gap: 5px;
        align-items: center;
        }
        .rasm__loga{
            width: 30px;
        height: 30px;
        }
        .loga_text{
        
            font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        /* identical to box height, or 100% */
        
        text-align: center;
        
        color: #0f1c8f;
        }
        /* loga--------------------------------------------------------- */
        /* list--------------------------- */
        .munu{
            position: absolute;
            width: 330px;
            display: flex;
            justify-content: space-between;
        
        }
        .munu >li{
            display: inline-block;
        }
        .munu > li > a{
            font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        
        
        /* navy blue */
        
        color: #18216D;
        
        }
        .li_bnt{
          display: none;
        }
        /* list--------------------------- */
        /* buger------------------------------------------ */
        .inconbug{
            display: none;
            cursor: pointer;
        }
        
        /* buger------------------------------------------ */
        /* bun----------------------------------------- */
        .bun__ada{
            display: block;
            display: flex;
        align-items: center;
        gap: 25px;
            
        }
        .bun__ada > button{
            font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 118% */
        width: 96px;
        height: 32px;
        border: none;
        
        background: #18216D;
        border-radius: 6px;
        
        color: #FFFFFF
        }
        .bun__ada > div{
            font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #18216D;
        }
}
/* ---------------------- */
@media (max-width:375px){
    .container {
        width: 90%;
        margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 0px;

    }
    /* loga -------------------------------------------------*/

.logaimgada{
    display: flex;
    gap: 5px;
    align-items: center;
    }
    .rasm__loga{
        width: 25px;
        height: 25px;
    }
    .loga_text{
        font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;


    text-align: center;
    
    color: #18216D;
    }
    /* loga--------------------------------------------------------- */
    /* list--------------------------- */
    .munu{
       position: absolute;
       left: 5%;
       padding-top: 30px;
       padding-left: 25%;
       top: -480px;
       width: 95%;
       height: 400px;
       display: flex;
       flex-direction: column;
       justify-content:space-evenly;
       background-color: rgba(14, 45, 216, 0.616);
       z-index: 10;
       border-radius: 0px 0px 20px 20px;
       transition: all 0.2s;
    }
    .munu > li{
        padding: 0px 5px;
        width: 100%;
        text-align: right;
        display: block;
    }
        .munu >li >a{ 
             display: block;
             padding: 10px 5px;
             width: 100%;
             height: 100%;
             font-size: 30px;
             border-radius: 5px;
             border: 1px solid rgb(0, 255, 255);
             color: rgb(0, 255, 255);
            }
            .li_bnt{
                display: block;
                 position: absolute;
                  left: 5px;
                  top: 57px;
                width: 90px;
                height: 79%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
              }
              .sub_bnt{
                width: 85%;
                height: 20%;
                border: 1px solid rgb(0, 255, 255);
                border-radius: 8px;
                background-color: transparent;
                color: rgb(0, 255, 255);
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
              }
              .sub_text{
                border-radius: 10px;
                width: 90%;
                height: 20%;
                border: 1px solid rgb(0, 255, 255);
  
              }
              .sub_text > a{
                display: block;
                font-size: 18px;
                width: 100%;
                height: 100%;
                color: rgb(0, 255, 255);
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
               }
    .aaa{
        transform: translate(0px,480px);
    }
/* list--------------------------- */
/* buger------------------------------------------ */
.inconbug{
    width: 28px;
    height: 12.2px;
    display: block;    
}
.click_T {
    transition: all ease 0.3s;
width: 40px;
height: 40px;
z-index: 19;
   display: flex;
   align-items: center;
   justify-content: center;


}
.click_T .span1{
    border-radius: 10px;
    z-index: 19;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    background: #24478d;


}

.click_X{
    transition:all ease 0.6s;
    z-index: 19;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

}
.click_X .span1{
    z-index: 19;
    height: 2.31px;
    width: 100%;
    background: #273551;
}
.click_X .span2{
    z-index: 19;
    height: 2.31px;
    width: 60%;
    background: #273551;
}
/* buger------------------------------------------ */
/* bun----------------------------------------- */
.bun__ada{
    display: none;
}
/* bun----------------------------------------- */
}
