.ada{
}
.container{
    position: relative;
    height: 398.35px;
    width: 80%;
    margin: 25px auto;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text__ada2{
    z-index: 90;
}

.img__ada2{
    position: absolute;
    right: 0%;
    width: 666px;
    height: 398.35px;

}
@media(max-width:912px){

}
/* ---------------------- */
@media (max-width:375px){

  .img__ada2{
    width: 187px;
    height: 200px;
  }
}